
/*
Colors:
#8442ED - roxo

Preto (#000000)

Cinza Chumbo (#4B4B4B)

Roxo Escuro (#5A189A)

Prata Metálico (#B0B0B0)

Dourado (#FFD700) (toque de luxo)

*/
/* Header */

header {
    background-color: rgba(88, 88, 88, 0.178) !important;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 70px !important;
    border-radius: 10px;
}

.icon-header img {
    width: 40px;
    height: 40px;
    margin-right: 10px !important;
}

html, body { height: 100%; margin:0; padding:0;}
    #vanta-bg {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    /* Sobreposição para mais opacidade */
    #vanta-bg::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(20, 10, 40, 0.4); /* roxo escuro semitransparente */
    }
    .main-content { position: relative; z-index: 1; }

/* Background Vanta.js */
html, body { height: 100%; margin:0; padding:0;}
    #vanta-bg {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    /* Sobreposição para mais opacidade */
    #vanta-bg::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(20, 10, 40, 0.4); /* roxo escuro semitransparente */
    }
    .main-content { position: relative; z-index: 1; }
/*



/* Main */

main {
    min-height: 100vh !important;
    margin: 100px;
}

p {
    font-family: 'Inter', sans-serif;
}


.frase-apresentacao {
    font-size: 1.5rem;
    color: #4d4d4d !important;

}

.frase-ola {
    font-size: 1.2rem;
    color: #8442ED !important;
    font-weight: 500;
    font-style: italic;
}

.background-btn-purple {
    background-color: #5A189A !important;
    color: white !important;
}

.background-btn-purple:hover {
    background-color: #1c0a3f !important;
    transition: width 2s !important;
    
}

.background-container {
    background-color: #FFF5D6 !important;
}

/* Footer */

.text-footer {
    color:#8442ED !important;
}

.link-footer {
    text-decoration: none;
    
}

.link-footer:hover {
    transition: width 2s;
    color: #020018;
}
